@font-face {
  font-family: "Silka";
  src: url("/fonts/silka/silka-regular-webfont.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Silka", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 18px;
  line-height: 1.63;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition: all 50ms ease-in-out;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 21px;
}

h4 {
  margin-bottom: 0px;
}

@media (max-width: 960px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 19px;
  }
}
